<div class="row">
    <div class="col s12">
        <h1 class="no-margin-bottom"><%= song %></h1>
        <p class="no-margin-top">Por <a href="#!" onclick="get('<%= author %>')"><%= author %></a></p>

        <div><%- lyric %></div>
    </div>
</div>

<div class="bottom-space"></div>

<!-- back floating button -->
<div class="fixed-action-btn">
    <a class="btn-floating waves-effect waves-light grey third modal-trigger" href="#shareModal">
        <i class="material-icons">share</i>
    </a>
    <a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.back()">
        <i class="material-icons">arrow_back</i>
    </a>
</div>

<!-- SHARE MODAL -->
<% init(link, song, author) %>
<div id="shareModal" class="modal">
    <div class="modal-content">
        <div class="input-field">
            <textarea id="message" class="materialize-textarea"></textarea>
            <label for="message">Escriba un texto para compartir</label>
        </div>
        <ul class="collection one-line preview">
            <li class="collection-item avatar" style="min-height: 60px;">
                <i class="fas fa-<%= share.icon %> material-icons circle"></i>
                <span class="title"><%= share.text %></span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
        <a onclick="share.send()" class="modal-close waves-effect waves-green green-text btn-flat">Enviar</a>
    </div>
</div>
